header {
    background-color: #DAE1E4;
    margin: 0px;
    padding: 2%;
}

body,
html {
  width: 100%;
  height: 100%;
    margin: 0px;
    padding: 0px;
  background: #0C3F4F;
  font-family: "Varela Round", sans-serif;
}

h1{
    color: #0C3F4F;
}

h2{
    margin: 0px;
}
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  background-color: #EEF0F1;
}

ul li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: #0C3F4F;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #DAE1E4;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #DAE1E4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #EEF0F1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.divider{
    border-right: 1px solid #0C3F4F;
}

article {
    background-color: #0C3F4F;
    color: #EEF0F1;
    margin: 20px;
    padding: 20px:
}

figcaption {
    text-align: left;
    color: #0C3F4F;
}

figure img {
    padding: 0px;
}

figure img:hover {
    opacity: .8;
     transition: .5s ease;
}

figure {
    display: inline-block;
    padding: 50px;
    background-color: #EEF0F1;
}

section{
   text-align: center;
}

ol {
    padding: 10px;
    margin-left: 30px;
}

ol li{
   padding: 3px;
    
}